.form-label
{
    color:var(--label-color);
    font-weight: 670;
    font-size: 12px;
}

.optionLabel
{
    display: none !important;
}

.pageText
{
    line-height: 1;
    font-size: 14px;
    padding-left: 1px;
}


.hideOption {
    display: none
}

